{% extends "layout.njk" %}

{% block head %}

<title>Sobre - Rocketseat</title>            
                                
{% endblock %}

{% block content %}

 <div class="wrapper">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhAz1p0uO69e2d91UxZNslLAqTGse2dYyZAQ&usqp=CAU">
            <h1>Rocketseat</h1>
            <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.
                No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
        </div>

 {% endblock %}       