{% extends "layout.njk" %}

{% block head %}

<title> Cursos Rocketseat </title>
                      
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
 <link rel="icon" href="favicon.ico" type="image/x-icon">

{% endblock %}

{% block content %}

        <div class="title"> <h1>Cursos</h1> </div>
        
        <div class="cards">
         
            <div class="card" id="starter">
                <div class="image-container">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg" alt="starter">
                    <h3>Starter</h3>
                </div>
                <div class="curse_content">
                    <p class="curse_modules">5 Modules</p>
                    <p class="curse_price free">Free</p>
                </div>
            </div>
            
            <div class="card" id="launchbase">
                <div class="image-container">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg" alt="launchbase">
                    <h3>Launchbase</h3>
                </div>
                <div class="curse_content">
                    <p class="curse_modules">8 Modules</p>
                    <p class="curse_price paid">Paid</p>
                </div>
            </div>
                 
            <div class="card" id="gostack">
                <div class="image-container">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" alt="gostack">
                    <h3>GoStack</h3>
                </div>
                <div class="curse_content">
                    <p>11 Modules</p>
                    <p class="curse_price paid">Paid</p>
                </div>
             </div>
        </div>    

        <footer>
            <div class="links">
                <a href='/'>GitHub</a>
                <a href= "/">Instagram</a>
                <a href='/'>Facebook</a>
            </div>    
        </footer>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="maximize-modal">
                    <i class="material-icons">crop_3_2</i>
                </a>
                <a class="minimize-modal">
                    <i class="material-icons">minimize</i>
                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0" ></iframe>
                </div>
            </div>
        </div>

    <script src="scripts.js"></script>  

{% endblock %}

